<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Anime</h1>
    <% for( let index = 0; index < topAnime.length; index++ ) { %>
        <% let animeItem = topAnime[index] %>

        <div>
            <p><%= animeItem.title %><p>
            <a href="http://localhost:3000/anime/<%= animeItem.mal_id %>">    
            <img src="<%= animeItem.image_url %>"" alt="">
            </a>
        </div>
        <hr>
    <% } %>
</body>
</html>
